@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');

*{
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif
}
.navbar-brand{
    color:blueviolet;
    font-size: 1.9rem;
    font-weight: 900;
}
.nav-link{
    font-weight: 500;
    color:blueviolet;
}
.navbar:hover{
    color:brown;
}
.menu_active{
    font-weight: bolder;
    border-bottom: 2px inset brown;
}
.navbar-toggler-icon{
    background-color: aquamarine;
    color:black;
}
.image{
    width: 80%;
}